.cardImg{
    width: 100%;
    margin-top: -10px;
    margin-bottom: 12px;
  }
  
  .cardImg2{
    width: 90%;
    margin-top: -12px;
    margin-right: 0px;
    margin-left: -10px;
    margin-bottom: 15px;
  }
  
  .cardImg3{
    width: 100%;
    margin-top: -10px;
    margin-right: 50px;
    margin-bottom: 20px;
  }
  
  .cardImg4{
    width: 115%;
    margin-top: -10px;
    margin-left: -20px;
    margin-bottom: -10px;
  }
  
  .cardImg5{
    width: 115%;
    margin-left: -20px;
    margin-top: -10px;
    margin-bottom: -10px;
  }
  
  .cardImg6{
    width: 100%;
    margin-top: -10px;
    margin-left: -20px;
    margin-bottom: -12px;
  }
  
  .cardImg7{
    width: 115%;
    margin-top: -10px;
    margin-left: -20px;
    margin-bottom: -10px;
    
  }
  
  .cardImg8{
    width: 115%;
    margin-left: -17px;
    margin-top: -15px;
    margin-bottom: -40px;
  }

  .cabinetimg1{
	width: 60%;
	margin-top: -15px;
	margin-right: 0px;
	margin-left: -10px;
	margin-bottom: -5px;
  }

.cabinetimg2{
	width: 65%;
	margin-top: -10px;
	margin-right: -10px;
	margin-left: -10px;
	margin-bottom: -5px;
} 

.cabinetimg3{
	width: 65%;
	margin-top: -10px;
	margin-right: -10px;
	margin-left: -10px;
	margin-bottom: -0px;
}

.cabinetimg4{
	width: 70%;
	margin-top: -12px;
	margin-right: -10px;
	margin-left: -10px;
	margin-bottom: 9px;
}

.cabinetimg5{
	width: 80%;
	margin-top: -20px;
	margin-right: -10px;
	margin-left: -10px;
	margin-bottom: -10px;
}

.cabinetimg6{
	width: 90%;
	margin-top: -20px;
	margin-right: -10px;
	margin-left: -10px;
	margin-bottom: 5px;
}

.cabinetimg7{
	width: 80%;
	margin-top: -10px;
	margin-right: -10px;
	margin-left: -10px;
	margin-bottom: -0px;
}

.cabinetimg8{
	width: 90%;
	margin-top: -10px;
	margin-right: -10px;
	margin-left: -10px;
	margin-bottom: -0px;
}

.motherboardimg1{
	width: 100%;
    margin-top: -15px;
}

.motherboardimg2{
	width: 85%;
    margin-top: -15px;
}

.motherboardimg3{
	width: 100%;
    margin-top: -15px;
    margin-bottom: 13px;
    margin-right: px;
}

.motherboardimg4{
	width: 100%;
    margin-top: -15px;
    margin-bottom: 22px;
}

.motherboardimg5{
	width: 100%;
    margin-top: -15px;
}

.motherboardimg6{
	width: 100%;
    margin-top: -15px;
}

.motherboardimg7{
	width: 80%;
  margin-top: -25px;
  margin-bottom: -7px;
}

.motherboardimg8{
	width: 85%;
    margin-top: -19px;
    margin-bottom: 7px;
}

.cpuimg1{
	width: 85%;
    margin-top: -20px;
    margin-bottom: -14px;
}


.cpuimg2{
  width: 65%;
  margin-top: -25px;
  margin-bottom: -10px;
}

.cpuimg3{
  width: 65%;
  margin-top: -25px;
  margin-bottom: -6px;
}

.cpuimg4{
  width: 95%;
  margin-top: -18px;
  margin-bottom: -10px;
}

.cpuimg5{
  width: 95%;
  margin-top: -18px;
  margin-bottom: -6px;
}

.cpuimg6{
  width: 65%;
  margin-top: -18px;
  margin-bottom: 6px;
}

.cpuimg7{
  width: 95%;
  margin-top: -18px;
  margin-bottom: -6px;
}

.cpuimg8{
  width: 65%;
  margin-top: -18px;
  margin-bottom: 6px;
}